/*
css自定义常亮
*/
//todo => 字体
$body-font: 'Source Sans Pro', 'Helvetica Neue', Arial, sans-serif;

//todo => 字体大小
$font-size-base: .15rem; // 15px
$font-size-middle: .14rem; // 14px
$font-size-small: .13rem; // 13px
$font-size-smaller: .12rem; //12px
