/**
  图标
 */
@font-face {
  font-family: 'iconfont';  /* project id 246496 */
  src: url('//at.alicdn.com/t/font_o5hpaddnz9jgiudi.eot');
  src: url('//at.alicdn.com/t/font_o5hpaddnz9jgiudi.eot?#iefix') format('embedded-opentype'),
  url('//at.alicdn.com/t/font_o5hpaddnz9jgiudi.woff') format('woff'),
  url('//at.alicdn.com/t/font_o5hpaddnz9jgiudi.ttf') format('truetype'),
  url('//at.alicdn.com/t/font_o5hpaddnz9jgiudi.svg#iconfont') format('svg');
}


.if {
  font-family: "iconfont" !important;
  font-size: 12px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
  color: #aaa;
}

.if-open:before{
  content: "\e604";
}
