html{
  font-size: 100px;
}

@media only screen and (min-width:320px) and (max-width:320px) {
  html {
    font-size: 85.33px !important; // (320/3.75) = 85.33
  }
}
@media only screen and (min-width:384px) {
  html {
    font-size:106.67px !important
  }
}
@media only screen and (min-width:412px) {
  html {
    font-size:110.4px !important
  }
}
@media only screen and (min-width:414px) {
  html {
    font-size:114.44px !important
  }
}
@media only screen and (min-width:600px) {
  html {
    font-size:204.8px !important
  }
}
